<!doctype html>
<html  class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>WYY管理系统登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/static/admin/css/login.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>


</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">WYY-v1.0管理后台登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form" >
        <input name="username" placeholder="用户名"  type="text" value="demo" lay-verify="required" class="layui-input names" >
        <hr class="hr15">
        <input name="password" lay-verify="required" value="123" placeholder="密码"  type="password" class="layui-input pwds">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" class="logins" type="submit" >
        <hr class="hr20" >
    </form>
</div>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate','laydate'], function(){

    })
    $(function  () {
        $(".logins").click(function () {
            var name=$(".names").val()
            var pwd=$(".pwds").val();
           $.post("/admin/login/checklogin",{name:name,pwd,pwd},function (e) {
               if(e.code==1000){
                   window.location.href="/admin/index/index"
                   return layer.msg(e.data);
               }else{
                   return layer.msg(e.data);
               }

           })
            return false;
        })

    })
</script>

</body>
</html>